<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>
<h2> Students details are as follows : </h2>

<h3> Standard - 1
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>
    {% for student in students_1 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 2
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_2 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 3
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_3 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 4
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_4 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 5
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_5 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 6
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_6 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 7
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_7 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 8
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_8 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 9
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_9 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>

<h3> Standard - 10
<table border="2" cellpadding="10" cellspacing="3">

    <td>Name</td>
    <td>Sex</td>
    <td>Marks</td>

    {% for student in students_10 %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.sex}}</td>
        <td>{{student.marks}}</td>
    </tr>
    {% endfor %}
</table>
</h3>
</body>
</html>